.missionSection {
  border-radius: 25px;
  padding: 16px 24px;
  box-shadow: 0px 0px 5px 2px lightgrey;
  margin: 16px 0px;
}

.mission {
  text-align: left;
  font-weight: 500;
  color: rgb(80, 79, 79);
}

.missionEditTextField {
  outline: none;
  height: 200px;
  font-size: 14px;
  width: 28vw;
  border-radius: 5px;
  padding-left: 8px;
  padding-top: 8px;
  font-weight: bold;
  margin: 12px 0px;
  font-family: "Oswald";
  box-shadow: 0px 0px 12px 5px rgb(200, 200, 200);
  border: none;
}
