.blogsContainer {
  margin: 100px auto;
  box-shadow: 0px 0px 12px 5px lightgrey;
  padding: 24px 52px;
  width: 65%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filters {
  margin: 0px 0px 24px 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.filterColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.filterColumn > span {
  font-weight: bold;
}

.searchField {
  margin: 42px auto;
  width: 80%;
  height: 45px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 2px darkgray;
  border-radius: 5px;
  padding-left: 12px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  font-family: "Oswald";
  transition: 250ms ease-in-out box-shadow;
}

.toggleButtonStyle {
  text-transform: capitalize;
}

.searchField:hover {
  box-shadow: 0px 0px 10px 2px darkgray;
}

.searchField:focus {
  box-shadow: 0px 0px 5px 2px #002463;
}

.listOfBlogs {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2vw;
  row-gap: 3vh;
}
