.headtext {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.textfield {
  height: 60px;
  width: 350px;
  background-color: #f6f6f6;
  border: 0.25px solid rgb(192, 192, 192);
  outline: none;
  padding-left: 10px;
}

.container {
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: center;
}
