.settingsContainer {
  width: 15%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}

.settingsTile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  width: 100%;
  height: 50px;
  background-color: rgb(245, 245, 245);
}
