.headline {
  font-size: 60px;
  color: #002463;
  padding: 0px;
  margin: 0px;
}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.createAccount {
  text-decoration: underline;
  justify-content: center;
  color: #002463;
  font-size: 14px;
  font-weight: bolder;
  align-self: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}
