.smallContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.login {
  text-decoration: none;
  color: #002463;
  font-size: 20px;
  font-weight: bolder;
}

.signup {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  background-color: #fcb730;
  padding: 12px;
  border-radius: 15px;
}
