.pieContainer {
  box-shadow: 0px 0px 5px 2px lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 47.5%;
  padding-bottom: 24px;
}

.pieContainer h3 {
  color: #002463;
  font-size: 25px;
}
