.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 12px;
  border-bottom: 0.5px solid lightgray;
  width: 100%;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.interviewType {
  font-size: large;
  font-weight: bold;
}

.date {
  color: gray;
  margin: 8px 0px;
  font-size: 12px;
}
