.headline {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 45px;
  color: #002463;
}

.section {
  margin-top: 20vh;
  background-color: white;
  border-radius: 25px 25px 0px 0px;
  box-shadow: -1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  height: 80vh;
  width: 50vw;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.subHeadline {
  font-size: 17px;
  margin-top: 60px;
  margin-bottom: 50px;
  color: #002463;
}
