.container {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(218, 217, 217);
  padding: 5px 10px;
  box-shadow: 0px 0px 15px -4px rgba(145, 145, 145, 0.75);
  -webkit-box-shadow: 0px 0px 15px -4px rgba(145, 145, 145, 0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(145, 145, 145, 0.75);
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.avatarTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.content {
  font-weight: bold;
  font-size: 10px;
  word-wrap: break-word;
}

.selectedJobPost {
  border: 1px solid rgb(48, 31, 203);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.date {
  font-size: 12px;
  color: rgb(96, 95, 95);
  font-weight: bold;
}

.title {
  font-size: 15px;
  color: #002463;
  font-weight: bold;
}

.separator {
  font-size: 12px;
  color: rgb(96, 95, 95);

  font-weight: bold;
}

.applied {
  font-size: 12px;
  color: rgb(96, 95, 95);
  font-weight: bold;
}
