.educationContainer {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
  border-radius: 5px;
  width: 60%;
  padding: 6px;
}

.specialty {
  font-size: 18px;
  color: #002463;
  font-weight: bold;
}

.university {
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.date {
  color: rgb(41, 41, 41);

  font-weight: bold;
  font-size: 13px;
  margin: 2px 0px;
}

.gpa {
  font-size: 13px;
  font-weight: bold;
  color: black;
}
